dijkstra
spfa
.DS_Store
*.o
.idea
shortest-path-cpp/data/dataset_*
shortest-path-cpp/bin/shortest_path
shortest-path-cpp/bin/self_test
shortest-path-cpp/bin/repl_test
shortest-path-scala/project
shortest-path-scala/target
.ipynb_checkpoints
report/main.aux
report/shortest-path-report.aux
report/main.fdb_latexmk
report/shortest-path-report.fdb_latexmk
report/main.fls
report/shortest-path-report.fls
report/main.log
report/shortest-path-report.log
report/main.synctex.gz
report/shortest-path-report.synctex.gz
report/main.bbl
report/shortest-path-report.bbl
report/main.blg
report/shortest-path-report.blg
report/images
